.crossingHeader {
    padding: 0px;
}

.crossingRadioCol {
    padding: 0px;
}

.crossingRadioLabel {
    padding: 0px;
}

.whyRow {
}

.whyItem {
}

.whyCol  {
}
.whyLabel {
    font-weight: bold;
}

.whyTextArea {
    border: #000000 solid 1px;
    float: left;
}
