/* Core CSS required for Ionic components to work properly */
@import "@ionic/react/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/react/css/normalize.css";
@import "@ionic/react/css/structure.css";
@import "@ionic/react/css/typography.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/react/css/padding.css";
@import "@ionic/react/css/float-elements.css";
@import "@ionic/react/css/text-alignment.css";
@import "@ionic/react/css/text-transformation.css";
@import "@ionic/react/css/flex-utils.css";
@import "@ionic/react/css/display.css";

/* Theme variables */
@import "./variables.css";

@font-face {
  font-family: "Exo2";
  font-weight: 400;
  font-style: normal;
  src: url("./font/static/Exo2-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2";
  font-weight: 600;
  font-style: normal;
  src: url("./font/static/Exo2-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2";
  font-weight: 700;
  font-style: normal;
  src: url("./font/static/Exo2-Bold.ttf") format("truetype");
}

.listContainer {
  width: 100%;
}

.header {
  --background: var(--ion-color-light);
}

.headingText {
  font-weight: 600; /* semi-bold */
}

.headingBoldText {
  font-weight: 700; /* bold */
}

.itemIcon {
  --detail-icon-opacity: 1;
  --detail-icon-font-size: 24px;
}

.itemIconLarge {
  --detail-icon-opacity: 1;
  --detail-icon-font-size: 32px;
}

.otherIcon {
  opacity: 1;
  font-size: 24px;
  cursor: pointer;
}

.otherIconLarge {
  opacity: 1;
  font-size: 32px;
  cursor: pointer;
}

.passwordButton {
  margin: 4px 4px 18px 4px;
  --padding-top: 25px;
  --padding-bottom: 25px;
  --padding-start: 13px;
  --padding-end: 13px;
}

.iconLink {
  cursor: pointer;
}

.iconBadge {
  position: absolute;
  top: 12px;
  left: 12px;
}

.linkText {
  color: var(--ion-color-primary);
  text-decoration: underline;
  margin-right: 8px;
  cursor: pointer;
}

.disabled {
  color: var(--ion-color-medium);
}

.disabledLink {
  color: var(--ion-color-medium);
  cursor: default;
}

.whiteBackground {
  background-color: var(--ion-background-color);
}

.lightBackground {
  background-color: var(--ion-color-light);
}

.selectedBackground {
  background-color: var(--ion-color-secondary-5);
}

ion-select,
ion-input {
  border: 1px solid var(--ion-color-step-150);
}

ion-textarea {
  --background: var(--ion-color-light) !important;
  padding-left: 16px;
}

ion-button,
ion-segment-button {
  text-transform: none;
}

ion-button {
  --box-shadow: none;
  --border-radius: 12px;
}

ion-button.ion-color-tertiary {
  --border-color: var(--ion-color-tertiary-100);
  --border-width: 1px;
  --border-style: solid;
}

ion-label {
  /* wrap text instead of using ellipsis */
  text-overflow: clip !important;
  white-space: normal !important;
}

ion-icon {
  /* prevent title popup on Ionic icons */
  pointer-events: none;
}

/* Wider popovers: Ionic only supports the size of the triggering element (e.g. button) or default size */
ion-popover.medium-popover {
  --width: 95%;
  --max-width: 95%;
}
@media only screen and (min-width: 600px) {
  ion-popover.medium-popover {
    --width: 380px;
  }
}

ion-popover.large-popover {
  --width: 95%;
  --max-width: 95%;
}
@media only screen and (min-width: 600px) {
  ion-popover.large-popover {
    --width: 500px;
  }
}

/*
  NOTE: The following ion-margin overrides are required to fix a problem with react-scripts 5.0.0, which now uses Webpack 5
  The production build incorrectly sets margin-left and margin-right to 'unset' in the compiled css after defining the margin sizes, and so sets all margins to 0
  This is likely caused by build plugin changes, since it does not happen in the dev env, nor in the previous version of react-scripts
*/
.ion-margin {
  margin: var(--ion-margin, 16px);
}
.ion-margin-start {
  margin-left: var(--ion-margin, 16px);
}
.ion-margin-end {
  margin-right: var(--ion-margin, 16px);
}

.small-margin-top {
  margin-top: 4px;
}

.small-margin-bottom {
  margin-bottom: 4px;
}

.medium-margin-start {
  margin-left: 8px;
}

.medium-margin-end {
  margin-right: 8px;
}

/** Additional Vayla colors **/
.ion-color-teal {
  --ion-color-base: var(--ion-color-teal);
  --ion-color-base-rgb: var(--ion-color-teal-rgb);
  --ion-color-contrast: var(--ion-color-teal-contrast);
  --ion-color-contrast-rgb: var(--ion-color-teal-contrast-rgb);
  --ion-color-shade: var(--ion-color-teal-shade);
  --ion-color-tint: var(--ion-color-teal-tint);
}

.ion-color-purple {
  --ion-color-base: var(--ion-color-purple);
  --ion-color-base-rgb: var(--ion-color-purple-rgb);
  --ion-color-contrast: var(--ion-color-purple-contrast);
  --ion-color-contrast-rgb: var(--ion-color-purple-contrast-rgb);
  --ion-color-shade: var(--ion-color-purple-shade);
  --ion-color-tint: var(--ion-color-purple-tint);
}

.ion-color-pink {
  --ion-color-base: var(--ion-color-pink);
  --ion-color-base-rgb: var(--ion-color-pink-rgb);
  --ion-color-contrast: var(--ion-color-pink-contrast);
  --ion-color-contrast-rgb: var(--ion-color-pink-contrast-rgb);
  --ion-color-shade: var(--ion-color-pink-shade);
  --ion-color-tint: var(--ion-color-pink-tint);
}

.ion-color-orange {
  --ion-color-base: var(--ion-color-orange);
  --ion-color-base-rgb: var(--ion-color-orange-rgb);
  --ion-color-contrast: var(--ion-color-orange-contrast);
  --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb);
  --ion-color-shade: var(--ion-color-orange-shade);
  --ion-color-tint: var(--ion-color-orange-tint);
}
