<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{MMM dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="DebugAppender" fileName="logs/${env:nodename:-nodex}/sillari-debug.log"
                     filePattern="logs/${env:nodename:-nodex}/sillari-debug-%i.log.gz">
            <PatternLayout pattern="%d{MMM dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="50MB" />
            </Policies>
            <DefaultRolloverStrategy max="4"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="ConsoleAppender" level="trace"/>
            <AppenderRef ref="DebugAppender" level="debug"/>
        </Root>
    </Loggers>
</Configuration>