#CompanySummaryPermitList.accordion {
    border: 0;
}

#CompanySummaryPermitList .accordion__item + .accordion__item {
    border-top: 0px solid rgba(0, 0, 0, 0.1);
}

#CompanySummaryPermitList .accordion__button {
    background-color: inherit;
    color: #444;
    cursor: pointer;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0;
    width: 100%;
    text-align: left;
    border: none;
}

#CompanySummaryPermitList .accordion__button .closeIcon {
    display: inline;
}

#CompanySummaryPermitList .accordion__button .closeIcon {
    display: none;
}

#CompanySummaryPermitList .accordion__button[aria-expanded='true'] .openIcon,
#CompanySummaryPermitList .accordion__button[aria-selected='true'] .openIcon {
    display: none;
}

#CompanySummaryPermitList .accordion__button[aria-expanded='true'] .closeIcon,
#CompanySummaryPermitList .accordion__button[aria-selected='true'] .closeIcon {
    display: inline;
}

[hidden] {
    display: none;
}

#CompanySummaryPermitList .accordion__panel {
    padding: 5px;
    animation: fadein 0.35s ease-in;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
