.mainSegment {
  --background: var(--ion-color-primary);
}

.mainSegmentButton {
  --background: var(--ion-color-primary);
  --background-checked: var(--ion-background-color);
  --color: var(--ion-background-color);
  --color-checked: var(--ion-color-primary);
  --indicator-color: var(--ion-color-primary);
}
