.routeGrid {
  border-width: 0 2px 2px 2px;
  border-style: solid;
  border-color: var(--ion-color-light);
  --ion-grid-columns: 24;
}

.routeGrid > ion-row {
  border-top: 2px solid var(--ion-color-light);
}

.routeSubGrid {
  --ion-grid-columns: 12;
}

.routeGridStatus {
  padding: 6px;
  color: #000000 !important; /* always black due to colours defined below */
}

.routeGridStatus_departed,
.routeGridStatus_in_progress {
  background-color: var(--ion-color-success-25);
}

.routeGridStatus_stopped {
  background-color: var(--ion-color-danger-25);
}

.routeGridStatus_arrived {
  background-color: var(--ion-color-light);
}

.routeGridStatusUnknown {
  color: var(--ion-color-danger);
}

.ascendingColumn {
  border-top: 4px solid var(--ion-color-primary);
}

.descendingColumn {
  border-bottom: 4px solid var(--ion-color-primary);
}
