.customAccordion {
  border: 2px solid var(--ion-color-base);
}

.customAccordion .accordion__item + .accordion__item {
  border-top: 2px solid var(--ion-color-base);
}

.customAccordion .accordion__button {
  cursor: pointer;
}

.customAccordion .accordion__button[aria-expanded="true"],
.customAccordion .accordion__button[aria-selected="true"] {
  border-bottom: 1px solid var(--ion-color-base);
}

.customAccordion .accordion__button .openIcon {
  display: inline;
}

.customAccordion .accordion__button .closeIcon {
  display: none;
}

.customAccordion .accordion__button[aria-expanded="true"] .openIcon,
.customAccordion .accordion__button[aria-selected="true"] .openIcon {
  display: none;
}

.customAccordion .accordion__button[aria-expanded="true"] .closeIcon,
.customAccordion .accordion__button[aria-selected="true"] .closeIcon {
  display: inline;
}

.customAccordion .accordion__panel {
  animation: fadein 0.35s ease-in;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
