.customAccordion ion-accordion {
  border: 1px solid var(--ion-color-step-100);
}

.customAccordion [slot="header"] {
  border-top: 4px solid transparent;
}

.customAccordion .accordion-expanded [slot="header"] {
  border-top: 4px solid var(--ion-color-primary);
  --background: var(--ion-color-secondary-5);
  border-bottom: none;
}
